.div-align-center{
  text-align: -webkit-center;
}
.fill-available{
  width: -webkit-fill-available;
}

.accordion-container {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #e0e0e0;
}

.accordion-header {
  background: #f9f9f9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.accordion-content {
  background: #fff;
  padding: 15px;
}

.section {
  /* Other styles */
  transition: "opacity duration-1000 ease-in-out"; /* Keep the transition here */
}

.section.opacity-0 { /* New class for initial state */
  opacity: 0;
}

.border-gradient {
  position: relative;
  background: white;
  border-radius: 9999px; /* Full rounded corners */
  padding: 3px; /* Adjust this to control border thickness */
  background: linear-gradient(90deg, #f0bfc3 0%, #55a591 50%, #7cbf80 75%, #ecf1a1 100%);
}


.border-gradient-content {
  background: white;
  border-radius: 9999px;
  padding: 0.2rem 1rem; /* Adjust padding as needed */
  font-weight: bold;
  color: #1f2937; /* text-gray-800 equivalent */
}

.swiper-button-prev,
.swiper-button-next {
  /* Your custom styles here */
  color: #1f2937; /* Inherit color from parent element */
  --swiper-theme-color: #1f2937; 
}

.swiper-pagination {
  display: none;
}