.div-align-center{
  text-align: -webkit-center;
}
.fill-available{
  width: -webkit-fill-available;
}

.accordion-container {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #e0e0e0;
}

.accordion-header {
  background: #f9f9f9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.accordion-content {
  background: #fff;
  padding: 15px;
}
